@{
    ViewBag.Title = "Acompanhamento";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Últimos processamentos</h2>
</hgroup>

<table>
    <tr>
        <th>
            Início
        </th>
        <th>
            Comando
        </th>
        <th>
            Parâmetros
        </th>
    </tr>
    @foreach (dynamic processamento in ViewBag.Processamentos)
    {
        <tr>
            <td>
                @Html.ActionLink(((DateTime) processamento.Inicio).ToString(), "Lista", "Acompanhamento", new {processamentoId = processamento.ProcessamentoId}, null)
            </td>
            <td>
                @processamento.Comando
            </td>
            <td>
                @processamento.Parametros
            </td>
        </tr>
    }
</table>