@{
    ViewBag.Title = "Início";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>Esta aplicação demonstra técnicas para processamento paralelo com Windows Azure.</p>
        </div>
    </section>
}
<h3>Procedimentos para demonstração:</h3>
<ol class="round">
    <li class="one">
        <h5>Gerar dados de exemplo</h5>
        ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
        enables a clean separation of concerns and that gives you full control over markup
        for enjoyable, agile development. ASP.NET MVC includes many features that enable
        fast, TDD-friendly development for creating sophisticated applications that use
        the latest web standards. <a href="http://go.microsoft.com/fwlink/?LinkId=245151">Learn
            more</a></li>
    <li class="two">
        <h5>Iniciar processo de faturamento</h5>
        NuGet makes it easy to install and update free libraries and tools. <a href="http://go.microsoft.com/fwlink/?LinkId=245153">
            Learn more</a></li>
    <li class="three">
        <h5>Acompanhar andamento do processo</h5>
        You can easily find a web hosting company that offers the right mix of features
        and price for your applications. <a href="http://go.microsoft.com/fwlink/?LinkId=245157">Learn
            more</a></li>
</ol>
