@{
    ViewBag.Title = "Administração";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<p class="message-info">
    A geração de contratos foi solicitada.
</p>
