@{
    ViewBag.Title = "Administração";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<ul>
    <li>@Html.ActionLink("Gerar Contratos", "GerarContratos", "Administracao")</li>
    <li>@Html.ActionLink("Gerar Movimento", "GerarMovimento", "Administracao")</li>
</ul>
