@{
    ViewBag.Title = "Administração";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<p>Este comando gera uma massa de dados para demonstração da aplicação.</p>
